/* Global rules */
html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

.div_resultados{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 20vh;
  max-height: 40vh;
  margin-left: 40%;
  margin-top: 5px;
  background-color: #003552;
  border-radius: 5px;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.pelicula_buscador{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 98%;
  height: 9vh;
  background-color: rgb(0, 103, 148);
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  transition: .5s ease;
  word-wrap: break-word;
}
.pelicula_buscador > img{
  margin-left: 5%;
  width: 20%;
  height: 80%;
}
.pelicula_buscador > h3 {
  color: aliceblue;
  font-size: 18px;
  margin-left: 5%;  
  flex-grow: 1;              
}
.pelicula_buscador:hover{
  box-shadow: 0px 0px 8px #00edff;
}
.div_resultados::-webkit-scrollbar {
  width: 10px;
  background: var(--color-secundario-detalles);
  border-radius: 10px;
}
.div_resultados::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Estilos expositor */
.expositor {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 15px 33px 1px rgba(0, 0, 0, 0.75);
  /*scroll-snap-align: center;*/
  scroll-snap-stop: normal;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}

/* Estilos busqueda */
.busqueda {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 70vh;
  /*scroll-snap-align: center;*/
 /* scroll-snap-stop: always;*/
}

.busqueda h1 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: var(--blanco);
  font-size: 40px;
  margin-bottom: 1%;
}
/* estilos input */
.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 20%;
  left: 40%;
}

.custom_input__input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  background: var(--color-secundario);
  color: #00fffc;
  border: 1px solid var(--color-cuartenario);
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px var(--color-terciario);
  transition: 0.3s ease;
}

.custom_input__input:focus {
  background: var(--color-terciario);
  border: 1px solid var(--color-principal-detalles);
  border-radius: 10px;
}

.custom_input__input::placeholder {
  color: var(--color-principal-detalles);
}

.svg_icon {
  position: absolute;
  left: 10px;
  fill: var(--color-principal-detalles);
  width: 18px;
  height: 18px;
}

/*estilos cartelera*/
.slider-cartelera {
  margin: 5% 2%;
}
.cartelera {
  display: flex;
  max-width: 97%;
  position: relative;
  padding-left: 1%;
  /*scroll-snap-align: center;*/
 /* scroll-snap-stop: always;*/
}
.cartelera i {
  top: 50%;
  height: 44px;
  width: 44px;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: var(--color-principal-detalles);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}

.cartelera i:hover {
  background-color: var(--color-terciario);
}
.cartelera i:first-child {
  left: -5px;
  display: none;
  z-index: 1;
}
.cartelera i:last-child {
  right: -23px;
}
.cartelera .carrusel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 20px;
  background-color: var();
}

.carrusel img {
  height: 500px;
  object-fit: cover;
  user-select: none;
  margin: 0px 0;
  margin-left: 16px;
  width: 300px;
  border-radius: 14px;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.carrusel img:first-child {
  margin-left: 16px;
}
.carrusel img:last-child {
  margin-right: 16px;
}
.carrusel > img:hover {
  outline: 2px solid var(--blanco);
  transform: scale(1.05);
}
/* boton */

.centrar {
  display: flex;
  justify-content: center;
}

.cartelera_btn {
  width: 200px;
  height: 110px;
  color: var(--blanco);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px var(--color-principal-detalles),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn_girar {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn_girar span {
  background: var(--color-principal);
  display: block;
  font-weight: 800;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px var(--color-principal-detalles),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_girar span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn_girar span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn_girar:hover span:nth-child(1) {
  background-color: var(--color-principal-detalles);
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px var(--color-principal-detalles),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn_girar a {
  color: var(--negro);
  font-weight: 800;
}

.btn_girar:hover span:nth-child(2) {
  background-color: var(--color-principal-detalles);
  color: var(--negro);
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

@media only screen and (max-width: 1920px) {
  .carrusel img {
    height: 400px;
    object-fit: cover;
    user-select: none;
    margin-left: 15px;
    width: 200px;
    border-radius: 14px;
    transition: 0.4s ease-in-out;
  }
}
/*tablet rules*/
@media only screen and (max-width: 1199px) and (min-width: 768px),
  only screen and (max-width: 767px) and (min-width: 480px) and (orientation: landscape) {
}

/*tablet verticales rules*/
@media only screen and (max-width: 767px) and (min-width: 480px) and (orientation: portrait) {
}

/*mobile rules*/
@media screen and (max-width: 479px) {
  .cartelera i:last-child {
    right: -10px;
  }
}
