html {
  font-family: var(--FunetePrincipal);
}
main {
  display: flex;
  flex-direction: column;
  color: var(--blanco);
  justify-content: center;
  align-items: center;
}
a {
  color: var(--negro);
  text-decoration: none;
}

h3{
  margin-top: 10%;
  text-align: center;    
  font-weight: 700;
  color: var(--color-cuartenario);
  font-size: 25px;
  transform-origin: center;
  transition: 0.5s ease;
  cursor: pointer;  }

h3:hover
{
    font-size: 30px;
    text-shadow: 1px 1px 17px #cacaca;
    color: var(--color-principal-detalles);
}

.nombreAdministrador {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.opciones {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-principal-detalles);
  text-shadow: -1px 0px 18px var(--color-principal-detalles);
}

h2 {
  font-size: 20px;
  font-weight: 500;
  text-shadow: -1px 0px 18px #ffffffe8;
}

.opciones > button {
  height: 30px;
  width: 400px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
  font-family: var(--FunetePrincipal);
  margin-bottom: 10px;
}

.opciones > button:hover {
  transform: scale(1.2);
  box-shadow: -2px 0px 18px #ffffff;
  cursor: pointer;
  

}


@media only screen and (max-width: 1920px) {
}
/*tablet rules*/
@media only screen and (max-width: 1199px) and (min-width: 768px),
only screen and (max-width: 767px) and (min-width: 480px) and (orientation: landscape) {

    
    /* .opciones > button{
  } */

}

/*tablet verticales rules*/
@media only screen and (max-width: 767px) and (min-width: 480px) and (orientation: portrait) {
}

/*mobile rules*/
@media screen and (max-width: 479px) {
}
