html {
  font-family: "Raleway", sans-serif;
}

.filtro {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.filtro li > button {
  font-family: "Raleway", sans-serif;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-principal-detalles);
  color: var(--negro);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}
.filtro li > button:hover {
  background-color: var(--color-secundario-detalles);
}

.contenedorProductos {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  margin-top: 5%;
}
.contenedorProductos__lista {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.contenedorProductos__productos {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  overflow-x: hidden;
}
.contenedorProductos__productos::-webkit-scrollbar {
  width: 10px;
  background: var(--color-secundario-detalles);
  border-radius: 10px;
}
.contenedorProductos__productos::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.contenedorProductos__productos > div {
  margin-bottom: 2%;
}
.Producto {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.Producto_nombre {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--blanco);
  text-shadow: -1px 0px 18px rgba(255, 255, 255, 0.91);
}

.Producto > .Producto_img {
  height: 80%;
  object-fit: cover;
}
.Producto > .Producto_img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Producto > .Producto_precio {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secundario-detalles);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 10px;
}
.Producto > .Producto_precio > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
}

.Producto_precio button {
  height: 30px;
  width: 30px;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.6);
  background-color: var(--color-cuartenario);
}

.Producto_precio button:hover {
  background-color: var(--color-principal-detalles);
}

.lista_item {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 90px;
  background-color: var(--color-terciario);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 5%;
}
.lista_img {
  height: 100%;
  width: 80px;
}
.lista_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.lista_contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  color: var(--blanco);
  text-shadow: -1px 0px 18px rgba(255, 255, 255, 0.91);
}
.contador {
  background-color: var(--color-secundario-detalles);
  margin-bottom: 3px;
  width: 40px;
  height: 32px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-style: none;
  outline: none;
}
.boton{
height: 40px;
width: 8%;
margin: 0 46%;
background-color: white;
border: none;
font-size: 20px;
color: black;
font-weight: 600;
border-radius: 10px;
font-family: "Raleway", sans-serif;
transition: 0.3s;
}
.boton:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fccd01;
}


@media only screen and (max-width: 1199px) and (min-width: 768px),
  only screen and (max-width: 767px) and (min-width: 480px) and (orientation: landscape) {
  .contenedorProductos__productos {
    width: 99%;
    height: 99%;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .filtro > ul {
    margin-right: 2%;
  }
  .filtro li > button {
    width: 60px;
    font-size: 10px;
  }
  .contenedorProductos__productos {
    width: 120%;
  }
  
.boton{
  height: 40px;
  width: 14%;
  }
}
@media screen and (max-width: 479px) {

  .boton{
    width: 22%;
  }
}
